*,
*::before,
*::after {
  box-sizing: border-box;
}
/*? Fonts import */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

/* Variables */
:root {
  /*? fonts families */
  --ff-primary: Lato, sans-serif;

  /*? fonts colors  */

  --clr-primary-000: white;
  --clr-primary-900: black;
  --clr-primary-400: #999999;

  --clr-accent-400: #2cb1ba;
}

/*? General  */

body {
  margin: 0;
  font-family: var(--ff-primary);
}
button {
  padding: 0.3em 1em;
  color: var(--clr-primary-000);
  font-family: inherit;
  background-color: var(--clr-accent-400);
  border-radius: 5px;
  border: none;
}
img {
  max-width: 100%;
}

h1 {
  font-size: 34px;
  line-height: 43px;
  color: #171717;
}

section {
  padding-block: 30px;
}
/*? Utility */

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

/*? App  */

.app {
  position: relative;
}
/*? Header */

.header {
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

/*? Main  */
/** Hero  */
.hero {
  height: 300px;
  background-image: url(./Assets/Img/Hero-Banner.jpeg);
  background-size: cover;
  background-position: center;
  align-items: center;
}

.hero__card {
  width: 318px;
  height: 233px;
  background-color: white;
  padding: 2em;
  margin-left: 100px;
  border-radius: 5px;
}

.articles {
  flex-wrap: wrap;
  gap: 20px;
}
/*? Article  */

.article {
  width: calc((100% - 120px) / 5);
  gap: 10px;
}
.article__picture img {
  width: 100%;
  height: 300px;

  object-fit: cover;
}

.article__details__txt {
  gap: 5px;
}

/*? Offer page  */

.background-offer {
  border: solid 1px red;
  background-color: hsl(179, 11%, 96%);
}
.offer {
  padding-block: 3rem;
  justify-content: space-evenly;
  height: 100%;
}

.offer__img {
  height: 300px;
  object-fit: contain;
}

.offer__description {
  background-color: white;
  border-radius: 5px;
  border: solid 1px red;
  padding: 3rem;
  justify-content: space-between;
}

/*? Login page */

.btn__login {
  background-color: var(--clr-primary-000);
  color: var(--clr-accent-400);
  border: solid 1px var(--clr-accent-400);
}
/*? Modal */

.modal {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.1);

  backdrop-filter: blur(3px);
}
.modal__container {
  background-color: white;
  border-radius: 10px;
}
.modal__container__btn {
  margin-top: 10px;
  margin-right: 10px;
  align-self: flex-end;
}

/*? Form */

form {
  padding: 8em;

  justify-content: center;
  align-items: center;
  gap: 10px;
}
form p {
  width: 400px;
}

.checkbox {
  align-items: center;
}
